body {
  position: relative;
  width: 100%;
  height: 1024px;
  background: linear-gradient(#CED4DA,#F3F5FC,#609ED4);
  font-family: 'Montserrat', sans-serif;
}

.logo {
  position: absolute;
  width: 120px;
  height: 48px;
  left: 40px;
  top: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}

textarea {
  background: linear-gradient(#CED4DA,#F3F5FC,#609ED4);
  position: absolute;
  width: 716px;       
  height: 584px;
  left: 240px;
  top: 168px;
  border: none;
  font: 400 32px/150% 'Montserrat', sans-serif;
  color: #0A3871;
}

::placeholder {
  font: 400 32px/150% 'Montserrat', sans-serif;
  color: #0A3871;
  outline: none;
}

.frame1, .frame2 {
  position: absolute;
  left: 240px;
}

.frame1 {
  top: 851px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.frame1 p {
  width: 250px;
  height: 18px;
  font: 400 13px/150% 'Montserrat', sans-serif;
  color: #01060c;
  opacity: 0.8;
}

.frame2 {
  top: 885px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 24px;
  width: 680px;
  height: 67px;
}

.encriptar, .desencriptar {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 24px;
  gap: 8px;
  width: 328px;
  height: 67px;
  border-radius: 24px;
  flex: none;
  flex-grow: 0;
}

.encriptar {
  background: #0A3871;
}

.encriptar h1 {
  width: 280px;
  height: 19px;
  font: 400 20px/19px 'Montserrat', sans-serif;
  color: #FFFFFF;
  flex: none;
  flex-grow: 1;
}

.encriptar:hover {
  background-color: #0d4486;
  border: 1px solid #0d4486;
}

.desencriptar {
  background: #D8DFE8;
  border: 1px solid #0A3871;
}

.desencriptar h1 {
  width: 280px;
  height: 19px;
  font: 400 20px/19px 'Montserrat', sans-serif;
  color: #0A3871;
  flex: none;
  flex-grow: 1;
}

.desencriptar:hover {
  background-color: #9da3aa;
  border: 1px solid #9da3aa;
}
.rectangulo {
    position: absolute;
    box-sizing: border-box;
    width: 400px;
    height: 944px;
    left: 1000px;
    top: 20px;
    background-color: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 32px;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
}

.mensaje, .texto-resultado {
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    color: #495057;
    width: 336px;
    left: 1032px;
}

.mensaje {
    height: 781px;
    top: 72px;
}

.texto-resultado {
    height: 781px;
    top: 72px;
    background-color: white;
}

.muneco {
    position: absolute;
    width: 336px;
    height: 304px;
    left: 1032px;
    top: 283px;
}

.caja {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 16px;
    width: 336px;
    height: 122px;
    left: 1032px;
    top: 619px;
}

.caja h1, .caja p {
    width: 336px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.caja h1 {
    font-weight: 700;
    font-size: 24px;
    height: 58px;
    line-height: 120%;
    color: #343A40;
}

.caja p {
    font-weight: 400;
    font-size: 16px;
    height: 48px;
    line-height: 150%;
    color: #495057;
}

.copiar {
    box-sizing: border-box;
    display: none;
    position: absolute;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;
    width: 336px;
    height: 67px;
    left: 1032px;
    top: 885px;
    border: 1px solid #0A3871;
    border-radius: 24px;
}

.copiar h1 {
    font-weight: 400;
    font-size: 20px;
    line-height: 19px;
    text-align: center;
    color: #0A3871;
    flex: 1;
}

.copiar:hover {
    background-color: #9da3aa;
    border: 1px solid #9da3aa;
}



footer{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background: url(imagenes/footer.jpg);
    color: white;
    text-align: center;

}
.copyright{
    color: white;
    font-size: 15px;
    margin: 20px;
}
@media screen and (max-width:780px){
   
   .logo{
    position: absolute;
    width: 31.09px;
    height: 50.58px;
    left: 40px;
    top: 73.42px;
   }
   textarea{
    position: absolute;
    width: 688px;
    height: 348px;
    left: 40px;
    top: 240px;
    font: normal 400 32px/150% 'Montserrat', sans-serif;
    color: #0A3871;
   }
   .frame1, .frame2{
    display: flex;
    flex-direction: row;
    padding: 0;
    gap: 8px;
    position: absolute;
    left: 40px;
   }
   .frame1{
    align-items: center;
    width: 229px;
    height: 18px;
    top: 636px;
   }
   .frame2{
    align-items: flex-start;
    width: 688px;
    height: 67px;
    top: 670px;
   }
   .mensaje,.caja,.copiar{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 32px;
    gap: 32px;
    position: absolute;
    left: 40px;
    background: #FFFFFF;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
   }
   .mensaje, .caja{
    width: 648px;
    height: 163px;
    top: 781px;
   }
   .caja h1{
    font: 700 30px/120% 'Montserrat', sans-serif;
    color: #343A40;
   }
   .caja p{
    font: 400 20px/150% 'Montserrat', sans-serif;
    color: #495057;
   }
   .copiar{
    display: none;
    width: 710px;
    top: 925px;
   }
   .copiar h1{
    font: 400 26px/19px 'Montserrat', sans-serif;
    color: #0A3871;
    width: 576px;
    flex-grow: 1;
   }
   footer{
    display: none;    
   }
   .rectangulo, .muneco{
    display: none;
   }
}
